<div class="container-fluid imagenfondo">
    <div class="row">
        <div class="col">
            <h2 class="bg-verde titulo margen">Producto</h2>

        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <img src="../../../assets/imagenes/carrusel/taz3.jpg" class="fondo " width="420px" height="315px">
        </div>
        <div class="col-3 bg-blanco">
            <div class="row dato  mb-2">
                Categoria:

            </div>
            <div class="row  mb-5">
                Boda

            </div>
            <div class="row dato mb-2">
                Genero:

            </div>
            <div class="row  mb-5">
                Hombre

            </div>
            <div class="row dato  mb-2">
                Tipo:

            </div>
            <div class="row  mb-5">
                Caja

            </div>
            <div class="row dato mb-2">
                Precio:

            </div>
            <div class="row  mb-2">
                $10.00

            </div>


        </div>

    </div>
    <div class="container bg-blanco">
        <div class="row dato mb-2">
            Descripcion:

        </div>
        <div class="row  mb-2">
            daskjdlkasjdklashkfjaslhdlasjdalsjdklasjldhkaslhdkajsdhkljashkld adsdasfasdaskdasjskd jalskjdlkasjdñlaskjñdajskdflasjkldahskfj

        </div>
        <div class="row">
            <div class="col">
                <button mat-icon-button color="primary" [mat-dialog-close]="data.animal" class=" ">
                <mat-icon>add_circle</mat-icon>
                Mas Detalles
            </button>
            </div>
            <div class="col">
                <button mat-icon-button color="primary" (click)="onNoClick()" class=" ">
                <mat-icon>backspace</mat-icon>
                Regresar
            </button>
            </div>
        </div>
    </div>

</div>