<mat-card>
    <mat-card-header>
        <mat-card-title class="tarjetatitulo">Nombre Producto</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/imagenes/carrusel/taz1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            asdasdasdas adsjd ahsk dakjjsdh kjas dhkjajs hdkashdaks
        </p>

        <button mat-icon-button color="primary" class="alings-item-center">
                          <mat-icon>add_circle</mat-icon>
        </button>

    </mat-card-content>
</mat-card>