<div class="margen">
    <div class="row ">
        <div class="col-2"></div>
        <div class="col-2  iconos">
            <a href="https://www.instagram.com/bazarsheyxa/?hl=es" target="_blank"> <i class="fab fa-instagram ig" text-align="center"> <p>Instagram</p></i>
            </a>
        </div>
        <div class="col-2 iconos">
            <a href="https://www.facebook.com/bazarsheyxa" target="_blank">
                <i class="fab fa-facebook fb" text-align="center"> <p>Facebook </p></i></a>
        </div>
        <div class="col-2 iconos">
            <a href="https://api.whatsapp.com/send?phone=+525575597203" target="_blank"><i class="fab fa-whatsapp wa" text-align="center"><p> WhatsApp</p></i></a>

        </div>
        <div class="col-2 iconos">
            <a href="https://api.whatsapp.com/send?phone=+525575597203" target="_blank"> <i class="far fa-envelope em" text-align="center"><p>   Email   </p></i>
            </a>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <hr>
            <p> Para cualquier duda cotactenos por cualquiera de estos medios</p>
            <hr>
        </div>
    </div>
</div>