<div class="margen">
    <div class="row ">
        <div class="col-2"></div>
        <div class="col-2  iconos">

            <i class="fab fa-instagram " text-align="center"> <p>Instagram</p></i>
        </div>
        <div class="col-2 iconos">
            <i class="fab fa-facebook" text-align="center"> <p>Facebook</p></i>
        </div>
        <div class="col-2 iconos">
            <i class="fab fa-whatsapp" text-align="center"><p>WhatsApp</p></i>
        </div>
        <div class="col-2 iconos">
            <i class="far fa-envelope" text-align="center"><p>Email</p></i>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <hr>
            <p> Para cualquier duda cotactenos por cualquiera de estos medios</p>
            <hr>
        </div>
    </div>
</div>