<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-verde">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/imagenes/Logo/png-clipart-wheat-logo-wheat-wheat-logo.png" width="40" height="40" class="d-inline-block align-center" alt=" "> JaquiGarden
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav navbar-rigth bg-verde">
                <li class="nav-item active bg-verde">
                    <a class="nav-link" href="#"> </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Categorias
                    </a>
                    <div class="dropdown-menu bg-verde" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#"> Globos</a>
                        <a class="dropdown-item" href="#">Flores</a>
                        <a class="dropdown-item" href="#"> Carritos</a>
                    </div>

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Ocaciones
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#"> Bodas</a>
                        <a class="dropdown-item" href="#"> Cumpleaños</a>
                        <a class="dropdown-item" href="#"> 14 de Febrero</a>
                    </div>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">¿Quienes somos?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-address-book"></i> Contacto
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#"><i class="fab fa-whatsapp"></i> WhatsApp</a>
                        <a class="dropdown-item" href="#"><i class="fab fa-facebook"></i> Facebook</a>
                        <a class="dropdown-item" href="#"><i class="fab fa-instagram"></i> Instagram</a>
                        <a class="dropdown-item" href="#"> <i class="far fa-envelope"></i> Email</a>
                    </div>

                </li>
            </ul>
            <div class="col-1"> </div>


            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>¿Que estas buscando?</mat-label>
                <input matInput type="text" [(ngModel)]="value">
                <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" class="bg-verde" (click)="value=''">
                  <mat-icon>done</mat-icon>
                </button>
            </mat-form-field>

        </div>

    </nav>


</div>
<div class="container bg-blanco margen">
    <div class="row margen">
        <div class="col"></div>
        <div class="col">
            <h4 class="text-center">Diseño Floral y más</h4>
        </div>
        <div class="col"></div>
    </div>
</div>