.bg-verde {
    background-color: #67BD8A;
    color: aliceblue;
    display: flex;
    align-items: center;
}

.bg-verdenav {
    background-color: #67BD8A;
    color: aliceblue;
}

.bg-blanco {
    background-color: #D9F7E5;
    color: #67BD8A;
}

.margen {
    padding: 0px;
}

.example-form-field {
    width: 300px;
}

.nav-link {
    background-color: #67BD8A;
    color: aliceblue;
}